<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================== -->
<!-- Log4j property file for the PC client, log4j will autoconfig from this when placed in classpath -->
<!-- ===================================== -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

   <!-- Console appender -->
   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{MM/dd/yy HH:mm:ss}|%p|%c{1}|%m%n" />
      </layout>
   </appender>



   <!-- CONSOLE -->
   <logger name="com.drs" additivity="false">
      <level value="debug" />
      <appender-ref ref="CONSOLE" />
   </logger>

   <logger name="org.springframework" additivity="false">
      <level value="debug" />
      <appender-ref ref="CONSOLE" />
   </logger>

   <logger name="flex" additivity="false">
      <level value="debug" />
      <appender-ref ref="CONSOLE" />
   </logger>

   <logger name="org.tuckey" additivity="false">
      <level value="debug" />
      <appender-ref ref="CONSOLE" />
   </logger>


   <root>
      <level value="warn" />
      <appender-ref ref="CONSOLE" />
   </root>

</log4j:configuration>
